@charset "utf-8";
@font-face {
    font-family: 'LH L';
    src: url('../font/LHL.eot');
    src: url('../font/LHL.eot?#iefix') format('embedded-opentype'),
        url('../font/LHL.woff2') format('woff2'),
        url('../font/LHL.woff') format('woff'),
        url('../font/LHL.ttf') format('truetype'),
        url('../font/LHL.svg#LHL') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'LH L';
    font-size: 16px;
}
.container {
    position: relative;
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgb(165, 219, 190);
}

/* ===============================header========================== */
.logo-topmenu-mainmenu {
    position: absolute;
    width: 1500px;
    height: 110px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.7);
}
.logo-menu-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* background-color: rgb(209, 137, 43); */
}
.logo img {
    padding-top: 15px;
    width: 146px;
}
.main-menu .gnb {
    display: flex;
    justify-content: space-between;
    width: 948px;
    /* background-color: rgb(80, 24, 126); */
}
.main-menu .gnb > li {
    padding-right: 70px;
    border-right: 1px solid white;
    /* background-color: aquamarine; */
}
.main-menu .gnb > li:last-child {
    padding-right: 0;
    border-right: 0;
    /* background-color: azure; */
}
.main-menu .gnb > li > a {
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    /* background-color: antiquewhite; */
}
.top-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    /* background-color: blue; */
}
.top-menu > .topmenu-list {
    display: flex;
    justify-content: space-between;
}
.top-menu > .topmenu-list > li {
    padding-right: 10px;
    border-right: 1px solid white;
}
.top-menu > .topmenu-list > li:last-child {
    padding-right: 0;
    border-right: 0;
}
.top-menu > .topmenu-list a {
    font-size: 12px;
    color: white;
    letter-spacing: 2px;
}



/* ===============================main========================== */

.intro-page {
    height: 1080px;
    background-size: auto;
    background: url(../images/1page_background.jpg) no-repeat;
}

.intro-page .intro-text {
}
/* ===============================footer========================== */